.app__navbar {
  display: flex;
  align-items: center;
  width: 80%;
  height: 3.5em;
  display: flex;
  justify-content: space-between; 
  padding-right: 0.2em; 
  padding-left: 2em;
  align-items: center;
  position: fixed;
  z-index: 2;
  top: 1em;
  left: 50%; /* Center the navbar horizontally */
  transform: translateX(-50%); /* Adjust to properly center */
  background-color: white;
  border-radius: 30px;

  @media screen and (max-width: 900px) {
    padding-left: 0.5em;
  }    
}

.app__navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: 1em;
   
    img {
        width: 120px;
        height: 30px;
        
      @media screen and (max-width: 900px) {
        width: 80px;
        height: 20px;
      }    
    }
}

.app__navbar-title {
    color: var(--green-color);
    font-size: 1.2em;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    @media screen and (max-width: 900px) {
      font-size: 1em;
    }    
    
    div { 
        width: 4px;
        height: 4px;
        background: var(--green-color);
        border-radius: 50%;
        @media screen and (max-width: 900px) {
          width: 3px;
          height: 3px;
        }    
    }
}

.app__navbar-beta {
    height: 50px;
    color: var(--green-color);
    font-size: 1.2em;
    border: 0.11em solid;
    border-radius: 30px;
    @media screen and (max-width: 900px) {
      display: flex;
      align-items: center;
      font-size: 1em;
    }   

    a {
        padding: 8px 15px 0px 15px;
        display: flex;
        justify-content: flex-start;
        @media screen and (max-width: 900px) {
          padding: 0.4em;
        }    
    }
}

.app__navbar-button {
    position: fixed;
    bottom: 20px; /* Adjust to your desired distance from the bottom */
    right: 13%; /* Adjust to your desired distance from the left */
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 5px;
    background-color: var(--green-color);
    color: white;
    border-radius: 25px;
    padding: 0.3em 0.6em 0.3em 0.9em;
    text-decoration: none;
  }
  
  .app__navbar-button img {
    width: 30px;
    height: 30px;
    margin-right: 0.5em;
    margin-left: 0.5em;
  }

  .momo {
    text-decoration: none;
    color: white;
  }
  
  