.app__navbar {
  width: 80%;
  height: 3.5em;
  display: flex;
  justify-content: space-between; 
  padding-right: 0.2em; 
  padding-left: 2em;
  align-items: center;
  position: fixed;
  z-index: 2;
  top: 1em;
  left: 50%; /* Center the navbar horizontally */
  transform: translateX(-50%); /* Adjust to properly center */
  background-color: white;
  border-radius: 30px;
}

.app__navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: 1em;
   
    img {
        width: 120px;
        height: 30px;
    }
}

.app__navbar-title {
    color: var(--green-color);
    font-size: 1.2em;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    div { 
        width: 4px;
        height: 4px;
        background: var(--green-color);
        border-radius: 50%;

    }
}

.app__navbar-beta {
    height: 50px;
    color: var(--green-color);
    font-size: 1.2em;
    border: 0.11em solid;
    border-radius: 30px;
    align-items: center;

    a {
        padding: 8px 15px 0px 15px;
        display: flex;
        justify-content: flex-start;

    }
}

.bottom-button {
    position: fixed;
    bottom: 20px; /* Adjust the distance from the bottom as needed */
    left: 85%;
    transform: translateX(-50%);
    display: block;
    padding: 10px 20px;
    background-color: var(--green-color); /* Button background color */
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }