.app__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80svh;

    @media screen and (max-width: 900px) {
        height :fit-content;
      }    
        
}

.app__header-box {
    margin-top: 90px;
    border-radius: 25px;
    padding: 3em 5em 3em 5em;
    width: 80%;
    background: url(../../images/bd_blue.jpg);
    position: relative;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    @media screen and (max-width: 900px) {
        width :90%;
      }    
}

.app__box-header {
    display: flex;
    padding-bottom: 4em;
    justify-content: center;
    a {
        background-color: var(--green-color);
        padding: 0.25em 1em 0.25em 1em;
        border-radius: 5px;
        color: white;
    }
}

.app__box-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    h1 {
        font-size: 48px;
        margin-bottom: 8px;
        @media screen and (max-width: 900px) {
            margin-bottom: 20px;
          }    
    }

    a {
    font-size: 30px;
    @media screen and (max-width: 900px) {
        font-size: 24px;
      }    
    }
}

.app__box-author {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 4em;

    @media screen and (max-width: 900px) {
        padding-top: 3em;
      }  
      
    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: azure;
    }

    a {
        margin-left: 1em;
        color: white;
        font-weight: 500;
    }
}

.app__header-text {
    margin-top: 50px;
    width: 45%;
    

    a {
        font-size: 20px;
        font-weight: bold;
    }
    
    p {
        font-size: 16px;
        font-style: italic;
        margin-top: 0.7em;
    }
    @media screen and (max-width: 900px) {
        width: 80%;
      }  
}

.app__header-pillar {
    img {
        height: 200px;
        width: 200px;
    }
}
