.app__article-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.app__article-texte {
    width: 45%; /* Initial width set to 30% */
    max-width: 1000px; /* Optional: Set a maximum width */
    padding: 1em 0 1em 0;
    line-height: 1.7em;
    @media screen and (max-width: 900px) {
        width: 80%;
      }  
    
}

.white-box { 
    background-color: white;
    border-radius: 15px;
    padding: 0.5em 1em 0.5em 1em;
    margin: 1em 0 1em 0;
    color: #F36750;
    font-weight: bold;
    font-size: 20px;
    width:fit-content;
    border: 0.1em solid #F36750;
}

.big-red-box {
    padding: 1.5em 1.5em 1.5em 1.5em;
    background-color: white;
    border-radius: 15px;
    border: 0.1em solid #F36750;
    margin-bottom: 1.2em;
    margin-top: 1.2em;
}

.red {
    color: #F36750;
    margin-top: 2em;
}

.red-box {
    background-color: #F36750;
    border-radius: 25px;
    padding: 0.5em 1em 0.5em 1em;
    margin: 1em 0 1em 0;
    color: white;
    width: fit-content;
    font-weight: bold;
    font-size: 20px;
}

.po-text {
    padding: 1em;
    line-height: 1.7em;
}

.g-text {
    padding: 1em 0 1em 0;
    font-style: italic;
    font-weight: bold;
    font-size: 22px;
}

.go-text {
    font-weight: bold;
    font-size: 22px;
    margin-top: 2em;
    margin-bottom: -0.5em;
}
.poo-text {
    line-height: 1.7em;
}

.list {
padding: 0 0 0 2em;
}

.app__article-table {
    width: 37%;
    background-color: #F7F4F4;
    padding: 1.5em;
    border-radius: 25px;
    @media screen and (max-width: 900px) {
        width: 80%;
      }  
}

.app__title {
 display: flex;
 flex-direction: row;
 align-items: center;
 @media screen and (max-width: 900px) {
    margin-top: 0.4em;
    margin-bottom: 0.3em;
  }  
}

.hello {
font-size: 19px;
  background-color: #F36750;
  color: #ffffff; /* Set text color to make it visible on the background */
  border-radius: 50%; /* Make the background round by setting border-radius to 50% */
  padding: 15px; /* Add padding to create space around the text */
  width: 40px; /* Set the width and height to the same value for a circle */
  height: 40px; /* Set the width and height to the same value for a circle */
  display: inline-flex; /* Display as inline flex to center content vertically */
  justify-content: center; /* Center content horizontally */
  align-items: center;
}

.plop {
 margin-left: 1em;
 color: #F36750;
 font-weight: bold;
 font-size: 19px;
}

.po-text-y {
    padding: 0.5em 1em 1.5em 2em;
    line-height: 1.7em;
}

.lolo {
    display: flex;
    margin-top: 3em;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
    @media screen and (max-width: 900px) {
        width: 80%;
        margin-bottom: 50px;
      }  
}

.horizontal-line {
display: flex;
width: 100%;
height: 2px;
background-color: #F36750;
margin-top: 3em;
align-items: center;
}

.source {
background-color: #ffffff;
padding: 0.4em 1em 0.4em 1em;
font-size: 20px;
border-radius: 15px;
border: 2px solid #F36750;
color: #F36750;
font-weight: bold;
margin-left: 25%;

@media screen and (max-width: 900px) {
    margin-left: 15%;
  }  
}
.hey {
    margin-top: 1em;
}